@value colors: '../../styles/variables/colors.css';
@value mainColor from colors;

.container {
  position: relative;
  max-width: 600px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-image: url(../../img/telephone-blue-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.titleWrapper {
  text-align: center;
  color: #fefff7;
  background-color: mainColor;
}

.mainTitle {
  letter-spacing: 0.2em;
  line-height: 2;
}

.childContainer {
  padding: 20px;
  height: fit-content;
}

.appear {
  opacity: 0;
  transform: scale(0.5);
}

.appearActive {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms linear;
}
